<div class="container section">
  <div class="text-center" style="max-width: 800px; margin: 0 auto;">
    <h1 class="font-display">{{ page.title }}</h1>
    <div class="rte font-body text-muted mt-4">
      {{ page.content }}
    </div>
  </div>
</div>
